language: php

php:
  - 7.1
  - nightly

env:
  - DB=agnostic #only database agnostic tests
  - DB=mysql
  - DB=sqlite
  - DB=pgsql

install:
  - rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
  - composer install

before_script:
  - if [[ $DB != 'agnostic' ]]; then ./tests/bin/setup.$DB.sh; fi

script: ./tests/bin/phpunit.$DB.sh

matrix:
  allow_failures:
    - php: nightly

  fast_finish: true

# cache vendors
cache:
  directories:
    - vendor
    - $HOME/.composer/cache

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

notifications:
  webhooks:
    - http://propel.jarves.io/build.php
    - https://webhooks.gitter.im/e/206efe76e183f9ade489
