<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
    >

  <testsuites>
    <testsuite name="Propel2 Test Suite">
      <directory>tests/Propel/Tests/</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>pgsql</group>
      <group>mysql</group>
    </exclude>
  </groups>

  <php>
    <env name="DB" value="mysql"/> <!-- mysql, sqlite, pgsql -->
    <env name="DB_USER" value="root"/>
    <env name="DB_PW" value="marc"/>
  </php>

  <filter>
    <whitelist>
      <directory>src/Propel/</directory>
    </whitelist>
  </filter>
</phpunit>
