propel.database.connections.default.adapter: {{ rdbms }}
propel.database.connections.default.dsn: {{ dsn }}
propel.database.connections.default.user: {{ user }}
propel.database.connections.default.password: {{ password }}
propel.database.connections.default.settings.charset: {{ charset }}
