{
    "propel": {
        "database": {
            "connections": {
                "default": {
                    "adapter": "{{ rdbms }}",
                    "dsn": "{{ dsn }}",
                    "user": "{{ user }}",
                    "password": "",
                    "settings": {
                        "charset": "{{ charset }}"
                    }
                }
            }
        }
    }
}
