<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<config>
    <propel>
        <database>
            <connections>
                <connection id="default">
                    <adapter>{{ rdbms }}</adapter>
                    <dsn>{{ dsn }}</dsn>
                    <user>{{ user }}</user>
                    <password>{{ password }}</password>
                    <settings>
                        <charset>{{ charset }}</charset>
                    </settings>
                </connection>
            </connections>
        </database>
    </propel>
</config>
