propel:
    database:
        connections:
            default:
                adapter: {{ rdbms }}
                dsn: {{ dsn }}
                user: {{ user }}
                password: {{ password }}
                settings:
                    charset: {{ charset }}
